---
import Section from "@/components/ui/Section.astro"

import {
  ExperienceGroup,
  ExperienceItem,
  ExperienceSeparator,
} from "@/features/experience/components"

interface Position {
  name: string
  description: string
  dateRange: string
}

interface Experience {
  company: string
  yearRange: string
  positions: Position[]
}

interface Props {
  experience: Experience[]
}

const { experience } = Astro.props
---

<Section title="Experiencia">
  {
    experience.map(({ company, yearRange, positions }, index) => (
      <>
        {index > 0 && <ExperienceSeparator class="h-10" />}
        <ExperienceGroup company={company} yearRange={yearRange}>
          {positions.map(({ name, description, dateRange }) => (
            <ExperienceItem
              position={name}
              description={description}
              dateRange={dateRange}
            />
          ))}
        </ExperienceGroup>
      </>
    ))
  }
</Section>
