---
import Section from "@/components/ui/Section.astro"
import {
  Separator,
  WorkGroup,
  WorkPosition,
} from "@/features/experience/components"
import type { Experience } from "@/features/experience/types"

export interface Props {
  experience: Experience[]
}

const { experience } = Astro.props
---

<Section title="Experiencia">
  {
    experience.map(({ company, yearRange, positions }, index) => (
      <>
        {index > 0 && <Separator class="h-10" />}
        <WorkGroup company={company} yearRange={yearRange}>
          {positions.map(({ name, description, dateRange }) => (
            <WorkPosition
              position={name}
              description={description}
              dateRange={dateRange}
            />
          ))}
        </WorkGroup>
      </>
    ))
  }
</Section>
