---
import GemIcon from "@/core/icons/Gem.astro"
import GlobeIcon from "@/core/icons/Globe.astro"
import Badge from "@/core/ui/Badge.astro"

import type { ProfileHeroProps } from '../types/profileTypes'
import HeroFooter from "./ProfileHeroFooter.astro"

const { fullName, shortDescription, location, age, imagePath } = Astro.props as ProfileHeroProps
---

<section class="grid w-full grid-flow-row grid-cols-3 gap-4">
  <article class="col-span-2 flex w-fit flex-col justify-between">
    <header>
      <h1 class="text-2xl font-bold sm:text-3xl">{fullName}</h1>
      <h2 class="sm:text-md text-sm">{shortDescription}</h2>
    </header>

    <section class="hidden flex-row gap-2 sm:flex">
      <Badge>
        <GlobeIcon slot="icon" />
        <span>{location}</span>
      </Badge>
      <Badge>
        <GemIcon slot="icon" />
        <span>{age}</span>
      </Badge>
    </section>
  </article>

  <figure class="row-span-2 flex justify-end">
    <img
      class="aspect-square w-full max-w-32 rounded-xl object-cover md:max-w-40"
      src={imagePath}
      alt="Farias Lautaro"
    />
  </figure>

  <HeroFooter class="col-span-3 flex items-end sm:col-span-2" />
</section> 
