---
import EnvelopeClosed from "@/core/icons/EnvelopeClosed.astro"
import GitHubIcon from "@/core/icons/GitHub.astro"
import LinkedInIcon from "@/core/icons/LinkedIn.astro"
import PhoneFill from "@/core/icons/PhoneFill.astro"
import ReaderIcon from "@/core/icons/Reader.astro"
import { NotPrintable, Printable } from "@/core/print"
import Button from "@/core/ui/actions/Button.astro"
import { Text, TextVariant } from "@/core/ui/text"

interface Props {
  class?: string
}

const gitHub = "https://github.com/LautyFarias",
  linkedIn = "https://www.linkedin.com/in/lautaro-farias",
  email = "farias.lautaro002@gmail.com",
  cellphone = "+541157638664"

const { class: className } = Astro.props
---

<footer class="container" class:list={className}>
  <NotPrintable
    class="flex w-full flex-row justify-between gap-1 sm:justify-start"
  >
    <div class="flex gap-1">
      <Button aria-label="Correo">
        <a aria-label="Contáctame!" href={`mailto:${email}`}>
          <EnvelopeClosed />
        </a>
      </Button>
      <Button aria-label="Teléfono">
        <a aria-label="Llámame!" href={`tel:${cellphone}`}>
          <PhoneFill />
        </a>
      </Button>
      <Button aria-label="GitHub">
        <a aria-label="Ve mi perfil de GitHub" href={gitHub} target="_blank">
          <GitHubIcon />
        </a>
      </Button>
      <Button aria-label="LinkedIn">
        <a
          aria-label="Ve mi perfil de LinkedIn"
          href={linkedIn}
          target="_blank"
        >
          <LinkedInIcon />
        </a>
      </Button>
    </div>
    <Button class="print"><ReaderIcon /><span>Descargar CV</span></Button>
  </NotPrintable>
  <Printable class="flex flex-col gap-2">
    <Text variant={TextVariant.Secondary}>{email}</Text>
    <Text variant={TextVariant.Secondary}>{cellphone}</Text>
  </Printable>
</footer>
<script>
  const button = document.querySelector(".print")

  button?.addEventListener("click", () => print())
</script> 
