---
import ExperienceHeader from "@/components/ui/ExperienceHeader.astro"
import Section from "@/components/ui/Section.astro"
import { Paragraph, TextVariant } from "@/components/ui/text"
import type { Education } from '../types/educationTypes'

interface Props {
  education: Education[]
}

const { education } = Astro.props
---

<Section title="Educación">
  {
    education.map(({ institution, startDate, endDate, area, courses }) => (
      <div>
        <ExperienceHeader dateRange={`${startDate} - ${endDate}`}>
          <h3>{institution}</h3>
        </ExperienceHeader>
        <section>
          <Paragraph variant={TextVariant.Secondary}>
            {area}
          </Paragraph>
          {courses.map(course => (
            <Paragraph variant={TextVariant.Secondary}>
              {course}
            </Paragraph>
          ))}
        </section>
      </div>
    ))
  }
</Section> 
