---
import EnvelopeClosed from "@/components/icons/EnvelopeClosed.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import PhoneFill from "@/components/icons/PhoneFill.astro"
import ReaderIcon from "@/components/icons/Reader.astro"
import { NotPrintable, Printable } from "@/components/print"
import { Text, TextVariant } from "@/components/text"
import Button from "@/components/ui/Button.astro"

const gitHub = "https://github.com/LautyFarias",
  linkedIn = "https://www.linkedin.com/in/lautaro-farias",
  email = "farias.lautaro002@gmail.com",
  cellphone = "+541157638664"
---

<footer>
  <NotPrintable class="flex flex-row gap-2">
    <Button aria-label="Correo">
      <a aria-label="Contáctame!" href=`mailto:${email}`>
        <EnvelopeClosed />
      </a>
    </Button>
    <Button aria-label="Teléfono">
      <a aria-label="Llámame!" href=`tel:${cellphone}`>
        <PhoneFill />
      </a>
    </Button>
    <Button aria-label="GitHub">
      <a aria-label="Ve mi perfil de GitHub" href={gitHub} target="_blank">
        <GitHubIcon />
      </a>
    </Button>
    <Button aria-label="LinkedIn">
      <a aria-label="Ve mi perfil de LinkedIn" href={linkedIn} target="_blank">
        <LinkedInIcon />
      </a>
    </Button>
    <Button class="print"><ReaderIcon /><span>Descargar CV</span></Button>
  </NotPrintable>
  <Printable class="flex flex-col gap-2">
    <Text variant={TextVariant.Secondary}>{email}</Text>
    <Text variant={TextVariant.Secondary}>{cellphone}</Text>
  </Printable>
</footer>
<script>
  const button = document.querySelector(".print")

  button?.addEventListener("click", () => print())
</script>
