---
import About from "@/components/About.astro"
import Education from "@/components/Education.astro"
import Experience from "@/components/Experience"
import Hero from "@/components/Hero"
import Skills from "@/components/Skills.astro"

import Layout from "@/layouts/Layout.astro"
import { calculateAgeFromBirthdate } from "@/utils"

import resume from "@resume"

const {
  basics: {
    name,
    summary,
    birthdate,
    location: { region, countryCode },
    image,
  },
  work,
} = resume

const age = calculateAgeFromBirthdate(birthdate)

const ageText = `${age} años`
const locationText = `${region}, ${countryCode}`

const positions = work.map((workItem) => ({
  name: workItem.position,
  description: workItem.description,
  dateRange: `${workItem.startDate} - ${workItem.endDate ?? "Actualidad"}`,
}))

const experience = {
  company: "SimpliMuv",
  yearRange: "2020 - Actualidad",
  positions,
}
---

<Layout title="Farias Lautaro" description="Yet another backend developer.">
  <main
    class="container mx-auto flex max-w-4xl flex-col gap-16 px-8 py-16 print:gap-4 print:p-6"
  >
    <Hero
      fullName={name}
      shortDescription={summary}
      location={locationText}
      age={ageText}
      imagePath={image}
    />
    <About />
    <Experience experience={[experience]} />
    <Education />
    <Skills />
  </main>
</Layout>
