---
import EnvelopeClosed from "@/components/icons/EnvelopeClosed.astro"
import GemIcon from "@/components/icons/Gem.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import GlobeIcon from "@/components/icons/Globe.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import PhoneFill from "@/components/icons/PhoneFill.astro"
import ReaderIcon from "@/components/icons/Reader.astro"
import { NotPrintable, Printable } from "@/components/print"
import { Text, TextVariant } from "@/components/text"
import Badge from "@/components/ui/Badge.astro"
import Button from "@/components/ui/Button.astro"

const gitHub = "https://github.com/LautyFarias",
  linkedIn = "https://www.linkedin.com/in/lautaro-farias",
  email = "farias.lautaro002@gmail.com",
  cellphone = "+541157638664"
---

<section class="flex w-full flex-row justify-between">
  <article class="flex w-fit flex-col justify-between">
    <div>
      <header>
        <h1 class="text-3xl font-medium">Farias Lautaro</h1>
        <h2 class="text-md">Backend Developer con +3 años de experiencia.</h2>
      </header>

      <section class="flex flex-row gap-2">
        <Badge>
          <GlobeIcon slot="icon" />
          <span>Buenos Aires, Argentina</span>
        </Badge>
        <Badge>
          <GemIcon slot="icon" />
          <span>21 años</span>
        </Badge>
      </section>
    </div>

    <NotPrintable>
      <section class="flex flex-row gap-2">
        <Button aria-label="Correo">
          <a aria-label="Contáctame!" href=`mailto:${email}`>
            <EnvelopeClosed />
          </a>
        </Button>
        <Button aria-label="Teléfono">
          <a aria-label="Llámame!" href=`tel:${cellphone}`>
            <PhoneFill />
          </a>
        </Button>
        <Button aria-label="GitHub">
          <a aria-label="Ve mi perfil de GitHub" href={gitHub} target="_blank">
            <GitHubIcon />
          </a>
        </Button>
        <Button aria-label="LinkedIn">
          <a
            aria-label="Ve mi perfil de LinkedIn"
            href={linkedIn}
            target="_blank"
          >
            <LinkedInIcon />
          </a>
        </Button>
        <Button class="print"><ReaderIcon /><span>Descargar CV</span></Button>
      </section>
    </NotPrintable>
    <Printable>
      <section class="flex flex-col gap-2">
        <Text variant={TextVariant.Secondary}>{email}</Text>
        <Text variant={TextVariant.Secondary}>{cellphone}</Text>
      </section>
    </Printable>
  </article>

  <aside class="size-md flex">
    <img
      class="aspect-square w-full max-w-40"
      src="/src/images/Person.svg"
      alt="Farias Lautaro"
    />
  </aside>
</section>
<script>
  const button = document.querySelector(".print")

  button?.addEventListener("click", () => print())
</script>
