---
import Section from "@/core/ui/Section.astro"
import type { SerializedExperience } from "../types/experienceTypes"
import { WorkGroup, WorkPosition } from "./index"

interface Props {
  workGroups: SerializedExperience["workGroups"]
}

const { workGroups } = Astro.props
---

<Section title="Experiencia">
  {
    workGroups.map(({ company, yearRange, positions }, index) => (
      <>
        <WorkGroup company={company} yearRange={yearRange}>
          {positions.map(({ name, description, dateRange }) => (
            <WorkPosition
              position={name}
              description={description}
              dateRange={dateRange}
            />
          ))}
        </WorkGroup>
      </>
    ))
  }
</Section>
