---
import Section from "@/components/ui/Section.astro"

import ExperienceGroup from "./_ExperienceGroup.astro"
import ExperienceItem from "./_ExperienceItem.astro"
import ExperienceSeparator from "./_ExperienceSeparator.astro"

const experience = [
  {
    company: "SimpliMuv",
    yearRange: "2020 - Actualidad",
    positions: [
      {
        name: "Desarrollador Backend",
        description: `
          Desarrollo, mantenimiento e implementación de un SaaS e-commerce 
          en Django. Con gran participación en administración y dirección 
          del equipo y aportes en frontend utilizando Nuxt 2 e 
          infraestructura con AWS.
        `,
        dateRange: "08/2020 - 06/2022",
      },
      {
        name: "Referente técnico",
        description: `
          Desarrollo de la versión 2 de SimpliMuv, implementada en +10 clientes. 
          Contribuí a la organización y planificación del equipo bajo una metodología SCRUM,
          desarrollando y dividiendo tareas, asegurándome que mis compañeros pudieran resolver 
          los requerimientos, dando el soporte necesario.
        `,
        dateRange: "06/2022 - 01/2024",
      },
      {
        name: "Líder técnico",
        description: `
          Desarrollo de la versión 3 de SimpliMuv, orientada a micro servicios en FastAPI 
          y soporte de la versión 2. Me desempeñé en la definición de requerimientos técnicos,
          modelado, estructura de los proyectos y asegurando la calidad del código.
          Incentive el pensamiento crítico y la utilización de metodologías de desarrollo como TDD.
          También organicé reuniones retroactivas con los miembros del equipo de 
          forma individual para garantizar la conformidad y el progreso laboral. 
        `,
        dateRange: "01/2024 - Actualidad",
      },
    ],
  },
]
---

<Section title="Experiencia">
  {
    experience.map(({ company, yearRange, positions }, index) => (
      <>
        {index > 0 && <ExperienceSeparator class="h-10" />}
        <ExperienceGroup company={company} yearRange={yearRange}>
          {positions.map(({ name, description, dateRange }) => (
            <ExperienceItem
              position={name}
              description={description}
              dateRange={dateRange}
            />
          ))}
        </ExperienceGroup>
      </>
    ))
  }
</Section>
